body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16; */
  line-height: 1.7;
  color: $color-black;
}

.header__title {
  font-size: 3rem;
  @include respond(phone) {
    text-align: center;
  }
}
